{
  "openapi": "3.0.0",
  "info": {
    "title": "Dual Money",
    "contact": {},
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://cnp2152api.developer24x7.com",
      "variables": {}
    },
    {
      "url": "http://localhost:4100",
      "variables": {}
    }
  ],
  "paths": {
    "/api/client/registerUser": {
      "post": {
        "tags": ["Client and Associate Auth"],
        "summary": "POST signup User API",
        "operationId": "POSTsignupUserAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTsignupUserAPIRequest"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/client/verify-user-account": {
      "post": {
        "tags": ["Client and Associate Auth"],
        "summary": "POST Verify Account API",
        "operationId": "POSTVerifyAccountAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTVerifyAccountAPIRequest"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/client/loginUser": {
      "post": {
        "tags": ["Client and Associate Auth"],
        "summary": "POST Login API",
        "operationId": "POSTLoginAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTLoginWityTypeAPIRequest"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/client/getUserProfile": {
      "get": {
        "tags": ["Client and Associate Auth"],
        "summary": "Get User Profile API",
        "operationId": "getUserProfile",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/users/getUserByEmail": {
      "get": {
        "tags": ["Client and Associate Auth"],
        "summary": "Get User By Email API",
        "operationId": "getUserByEmail",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/client/updateProfile": {
      "put": {
        "tags": ["Client and Associate Auth"],
        "summary": "POST Update Profile Of Client API",
        "operationId": "POSTUpdateProfileClientAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTUpdateProfileClientAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/login": {
      "post": {
        "tags": ["Admin and Operator Auth"],
        "summary": "POST Admin Login API",
        "operationId": "POSTAdminLoginAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTLoginAPIRequest"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/admin/forgot-password-mail": {
      "post": {
        "tags": ["Admin and Operator Auth"],
        "summary": "POST Forget Password Send Mail API",
        "operationId": "POSTForgetPasswordSendMailAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTForgetPasswordSendMailAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/admin/forgot-password": {
      "post": {
        "tags": ["Admin and Operator Auth"],
        "summary": "POST Forget Password Reset API",
        "operationId": "POSTForgetPasswordResetAdminAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTForgetPasswordResetAdminAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/admin/dashboard": {
      "get": {
        "tags": ["Admin Dashboard"],
        "summary": "GET Admin Dashboard API",
        "operationId": "GETAdminDashboardAPI",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/profile": {
      "get": {
        "tags": ["Admin and Operator Auth"],
        "summary": "POST Get Admin and Operator Auth API",
        "operationId": "GETAdminProfileAPI",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/update-profile": {
      "put": {
        "tags": ["Admin and Operator Auth"],
        "summary": "POST Update Profile Of Admin API",
        "operationId": "POSTUpdateProfileAdminAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTUpdateProfileAdminAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/update-password": {
      "put": {
        "tags": ["Admin and Operator Auth"],
        "summary": "POST Change Password Admin API",
        "operationId": "POSTUpdatePasswordAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTUpdatePasswordAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/get-clients/{roleId}?page=1&size=5&search=something": {
      "get": {
        "tags": ["Client Management By Admin"],
        "summary": "Get Users By Role Id API",
        "operationId": "GETAllUsersByRoleAPI",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type of Role Id (e.g., 4, 5, 6, 7)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "The page number for pagination"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1
            },
            "description": "The number of items per page"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "something"
            },
            "description": "Searching by name and email"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/admin/get-all-clients/": {
      "get": {
        "tags": ["Client Management By Admin"],
        "summary": "Get All Users API",
        "operationId": "GETAllUsersAPI",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "The page number for pagination"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1
            },
            "description": "The number of items per page"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "something"
            },
            "description": "Searching by name and email"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "enum": ["active", "suspended"],
            "schema": {
              "type": "string",
              "default": "active"
            },
            "description": "Status of users"
          },
          {
            "name": "order",
            "in": "query",
            "enum": ["ASC", "DESC"],
            "required": false,
            "schema": {
              "type": "string",
              "default": "DESC"
            },
            "description": "Order of users"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/admin/get-client-by-id/{id}": {
      "get": {
        "tags": ["Client Management By Admin"],
        "summary": "Get Users By Id API",
        "operationId": "GETUserByIdAPI",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type of User Id (e.g., 4, 5, 6, 7)"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/admin/add-client": {
      "post": {
        "tags": ["Client Management By Admin"],
        "summary": "POST Add User API",
        "operationId": "POSTAddUserAdminAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTAddUserAdminAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/update-client/{id}": {
      "put": {
        "tags": ["Client Management By Admin"],
        "summary": "POST Update User API",
        "operationId": "POSTUserUpdateAdminAPI",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type of User Id (e.g., 4, 5, 6, 7)"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTUserUpdateAdminAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/delete-client/{id}": {
      "delete": {
        "tags": ["Client Management By Admin"],
        "summary": "POST Delete Client API",
        "operationId": "POSTUserDeleteAdminAPI",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type of User Id (e.g., 4, 5, 6, 7)"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/get-transactions-by-user-id/{userId}": {
      "get": {
        "tags": ["Client Management By Admin"],
        "summary": "GET Transactions By User Id API",
        "operationId": "GETTransactionsByUserIdAPI",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type of User Id (e.g., 4, 5, 6, 7)"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "The page number for pagination"
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1
            },
            "description": "The number of items per page"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "something"
            },
            "description": "Searching by name and email"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "enum": ["pending", "completed", "failed"],
            "schema": {
              "type": "string",
              "default": "pending"
            },
            "description": "Status of transactions"
          },
          {
            "name": "order",
            "in": "query",
            "required": true,
            "enum": ["ASC", "DESC"],
            "schema": {
              "type": "string",
              "default": "DESC"
            },
            "description": "Order of transactions"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/admin/reset-password": {
      "put": {
        "tags": ["Client Management By Admin"],
        "summary": "POST User Password Update API",
        "operationId": "POSTUserPasswordUpdateAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTUserPasswordUpdateAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/client/updateProfileImage": {
      "put": {
        "tags": ["Client and Associate Auth"],
        "summary": "PUT Update Profile Image API",
        "operationId": "PUTUpdateProfileImageAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PUTUpdateProfileImageAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/client/forgetPassword": {
      "post": {
        "tags": ["Client and Associate Auth"],
        "summary": "POST Forget Password Send Mail API",
        "operationId": "POSTForgetPasswordSendMailAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTForgetPasswordSendMailAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/client/resetPassword": {
      "post": {
        "tags": ["Client and Associate Auth"],
        "summary": "POST Forget Password Reset Password API",
        "operationId": "POSTForgetPasswordResetAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTForgetPasswordResetAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/client/logout": {
      "get": {
        "tags": ["Client and Associate Auth"],
        "summary": "GET Logout API",
        "operationId": "GETLogoutAPI",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/client/changePassword": {
      "post": {
        "tags": ["Client and Associate Auth"],
        "summary": "POST Update Password API",
        "operationId": "POSTUpdatePasswordAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTUpdatePasswordAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/get-nearby-associate": {
      "post": {
        "tags": ["Accounts Listing"],
        "summary": "GET Nearby Associates API",
        "operationId": "GETNearbyAssociateAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTLocationPointsAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/agency/get-nearby-associate": {
      "post": {
        "tags": ["Accounts Listing"],
        "summary": "GET Nearby Associates API to agencies",
        "operationId": "GETNearbyAssociateAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTLocationPointsAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/changeRole": {
      "put": {
        "tags": ["Client and Associate Auth"],
        "summary": "PUT Change Role of Client API",
        "operationId": "PUTChangeRoleOfClientAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PUTChangeRoleOfClientAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/get-nearby-agency": {
      "post": {
        "tags": ["Accounts Listing"],
        "summary": "GET Nearby Agency API",
        "operationId": "GETNearbyAgencyAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTLocationPointsAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/agency/get-nearby-agency": {
      "post": {
        "tags": ["Accounts Listing"],
        "summary": "GET Nearby Agency API",
        "operationId": "GETNearbyAgencyAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTLocationPointsAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/get-search-client-accounts?search=": {
      "get": {
        "tags": ["Accounts Listing"],
        "summary": "GET Search Client Accounts API",
        "operationId": "GETSearchClientAccountsAPI",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "Search by first name, last name, email, or phone"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/add-money-from-bank": {
      "post": {
        "tags": ["Transactions"],
        "summary": "POST Add money to wallet API (By Associate or Agency)",
        "operationId": "POSTAddToWalletAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTAddToWalletAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/withdrawal-from-wallet": {
      "post": {
        "tags": ["Transactions"],
        "summary": "POST Withdraw money from wallet API",
        "operationId": "POSTWithdrawWalletAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTWithdrawWalletAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/my-wallet": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Get Wallet Profile API",
        "operationId": "getWalletProfile",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/client/all-transactions?page=1&size=5": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Get All Transactions API",
        "operationId": "POSTAllTransactionsAPI",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "The transaction id number"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "The page number for pagination"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1
            },
            "description": "The number of items per page"
          },
          {
            "name": "documentTypeId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "description": "The document type Id"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "AXXXXX"
            },
            "description": "Document Number"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "pending"
            },
            "description": "status(pending/completed/failed)"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "AXXXXX"
            },
            "description": "Search by unique code/documentNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/recharge-transactions": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Get Recharge Transactions API",
        "operationId": "POSTRechargeTransactionsAPI",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "The page number for pagination"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1
            },
            "description": "The number of items per page"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "pending"
            },
            "enum": ["pending", "completed", "failed", "all"],
            "description": "The status of the transactions"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DESC"
            },
            "description": "The order of the transactions",
            "enum": ["ASC", "DESC"]
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "The search of the transactions"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/transfer-transactions": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Get Transfer Transactions API",
        "operationId": "POSTTransferTransactionsAPI",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "The page number for pagination"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1
            },
            "description": "The number of items per page"
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "pending"
            },
            "enum": ["pending", "completed", "failed", "all"],
            "description": "The status of the transactions"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DESC"
            },
            "description": "The order of the transactions",
            "enum": ["ASC", "DESC"]
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "The search of the transactions"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "enum": ["sent", "received"],
            "description": "The type of the transactions"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/send-money": {
      "post": {
        "tags": ["Transactions"],
        "summary": "POST Send money from wallet API",
        "operationId": "POSTSendMoneyAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTSendMoneyAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/send-money-to-unregisterd-client": {
      "post": {
        "tags": ["Transactions"],
        "summary": "POST Send money to unregistered client API",
        "operationId": "POSTSendMoneyToUnregisteredClientAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTSendMoneyToUnregisteredClientAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/unregister-to-unregister": {
      "post": {
        "tags": ["Transactions"],
        "summary": "POST Send money from unregistered client to unregistered client API",
        "operationId": "POSTSendMoneyFromUnregisteredClientToUnregisteredClientAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTSendMoneyFromUnregisteredClientToUnregisteredClientAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/register-to-unregister": {
      "post": {
        "tags": ["Transactions"],
        "summary": "POST Send money from registered client to unregistered client API",
        "operationId": "POSTSendMoneyFromRegisteredClientToUnregisteredClientAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTSendMoneyFromRegisteredClientToUnregisteredClientAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/register-to-register-online": {
      "post": {
        "tags": ["Transactions"],
        "summary": "POST Send money from registered client to registered client online API",
        "operationId": "POSTSendMoneyFromRegisteredClientToRegisteredClientOnlineAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTMoneyTransferRegisteredToRegisteredOnlineAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/register-to-register-offline": {
      "post": {
        "tags": ["Transactions"],
        "summary": "POST Send money from registered client to registered client offline API",
        "operationId": "POSTSendMoneyFromRegisteredClientToRegisteredClientOfflineAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTMoneyTransferRegisteredToRegisteredOfflineAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/transactions": {
      "get": {
        "tags": ["Transactions"],
        "summary": "GET Transactions for Associate API",
        "operationId": "GETTransactionsForAssociateAPI",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "The page number for pagination"
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1
            },
            "description": "The number of items per page"
          },
          {
            "name": "order",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DESC"
            },
            "description": "The order of the transactions",
            "enum": ["ASC", "DESC"]
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "The search of the transactions"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "all"
            },
            "enum": ["all", "sent", "received", "recharge"],
            "description": "The type of the transactions"
          },
          {
            "name": "cityId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/validate-cash-transaction": {
      "post": {
        "tags": ["Transactions"],
        "summary": "POST Verify Cash Transaction API",
        "operationId": "POSTVerifyCashTransactionAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTValidateCashTransactionAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/recharge-client-wallet": {
      "post": {
        "tags": ["Transactions"],
        "summary": "POST Recharge Client Wallet API",
        "operationId": "POSTRechargeClientWalletByAssociateAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTRechargeClientWalletByAssociateAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/transaction": {
      "post": {
        "tags": ["Transactions"],
        "summary": "POST Transactions Client Wallet to wallet API",
        "operationId": "POSTTransactionClientWalletToWalletAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTTransactionClientWalletToWalletAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/transaction/{id}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Get Transaction By Id API",
        "operationId": "GETUserByIdAPI",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type of transaction Id (e.g., 4, 5, 6, 7)"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/send-invitation": {
      "post": {
        "tags": ["Invitation"],
        "summary": "POST Send invitation API",
        "operationId": "POSTSendInvitationAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTSendInvitationAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/invitations": {
      "get": {
        "tags": ["Invitation"],
        "summary": "Get All Invitations API",
        "operationId": "POSTAllInvitationsAPI",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "The page number for pagination"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1
            },
            "description": "The number of items per page"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "pending"
            },
            "enum": ["pending", "accepted", "rejected"],
            "description": "The status of the transactions"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "The search of the transactions"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DESC"
            },
            "description": "The order of the transactions",
            "enum": ["ASC", "DESC"]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/frontend/cash-receive": {
      "post": {
        "tags": ["Cash Transactions"],
        "summary": "POST Cash Receive From Client API (By Associate or Agency)",
        "operationId": "POSTCashReceiveFromClientAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTCashReceiveFromClientAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/frontend/cash-request": {
      "post": {
        "tags": ["Cash Transactions"],
        "summary": "POST Cash Request By Client API",
        "operationId": "POSTCashRequestByClientAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTCashRequestByClientAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/frontend/approve-cash-request": {
      "post": {
        "tags": ["Cash Transactions"],
        "summary": "POST Approve Request API (By Associate or Agency)",
        "operationId": "POSTApproveRequestAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTApproveRequestAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/frontend/cash-requests": {
      "get": {
        "tags": ["Cash Transactions"],
        "summary": "Get Cash Transactions API",
        "operationId": "GETCashTransactionsAPI",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/frontend/send-money-to-unregisterd-client": {
      "post": {
        "tags": ["Cash Transactions"],
        "summary": "POST Send Money To Unregistered Client API",
        "operationId": "POSTSendToUnregisteredClientAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTSendToUnregisteredClientAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/file-upload/{type}": {
      "post": {
        "tags": ["Common"],
        "summary": "POST Image Upload API",
        "operationId": "POSTmageUploadAPI",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type of file being uploaded (e.g., 'profile-upload', 'id-document', 'digital-signature', 'uploaded-signature')"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/POSTmageUploadAPI"
              }
            }
          },

          "responses": {
            "200": {
              "description": "",
              "headers": {}
            }
          },
          "deprecated": false
        }
      }
    },
    "/api/role/getAllRoles": {
      "get": {
        "tags": ["Common"],
        "summary": "GET Rolls API",
        "operationId": "GETRoleAPI",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/role/getAdminRoles": {
      "get": {
        "tags": ["Common"],
        "summary": "GET Admin Rolls API",
        "operationId": "GETAdminRoleAPI",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/role/getClientRoles": {
      "get": {
        "tags": ["Common"],
        "summary": "GET Client Rolls API",
        "operationId": "GETClientRoleAPI",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/send-otp": {
      "post": {
        "tags": ["Common"],
        "summary": "POST Send OTP API",
        "operationId": "POSTSendOtpAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/POSTSendOtpAPI"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/verify-otp": {
      "post": {
        "tags": ["Common"],
        "summary": "POST Verify OTP API",
        "operationId": "POSTVerifyOtpAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/POSTVerifyOtpAPI"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/get-permissions": {
      "get": {
        "tags": ["Permission Management By Admin"],
        "summary": "Get Permissions API",
        "operationId": "GETAdminPermissionsAPI",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/update-permissions": {
      "put": {
        "tags": ["Permission Management By Admin"],
        "summary": "PUT Update User API",
        "operationId": "PUTUpdatePermissionAdminAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PUTAdminPermissionUpdateAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/get-recharges": {
      "get": {
        "tags": ["Recharge Management By Admin"],
        "summary": "GET Recharge Management API",
        "operationId": "GETRechargeManagementAPI",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "The page number for pagination"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1
            },
            "description": "The number of items per page"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "something"
            },
            "description": "Searching by name and email"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "enum": ["completed", "pending", "failed", "all"],
            "schema": {
              "type": "string",
              "default": "all"
            },
            "description": "Status of recharge (e.g., 'completed', 'pending', 'failed', 'all')"
          },
          {
            "name": "order",
            "in": "query",
            "required": true,
            "enum": ["ASC", "DESC"],
            "schema": {
              "type": "string"
            },
            "description": "Order of recharge (e.g., 'ASC', 'DESC')"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/get-admins/{roleId}?page=1&size=5&search=something": {
      "get": {
        "tags": ["Admin Accounts Management By Admin"],
        "summary": "Get Admins By Role Id API",
        "operationId": "GETAllAdminsByRoleAPI",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type of Role Id (e.g.,1, 2, 3, 4)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "The page number for pagination"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1
            },
            "description": "The number of items per page"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "something"
            },
            "description": "Searching by name and email"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/admin/get-all-admins/?page=1&size=5&search=something": {
      "get": {
        "tags": ["Admin Accounts Management By Admin"],
        "summary": "Get All Admins API",
        "operationId": "GETAllAdminsAPI",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "The page number for pagination"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1
            },
            "description": "The number of items per page"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "something"
            },
            "description": "Searching by name and email"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/admin/get-admin-by-id/{id}": {
      "get": {
        "tags": ["Admin Accounts Management By Admin"],
        "summary": "Get Admins By Id API",
        "operationId": "GETAdminByIdAPI",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type of User Id (e.g., 4, 5, 6, 7)"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/admin/add-admin": {
      "post": {
        "tags": ["Admin Accounts Management By Admin"],
        "summary": "POST Add Admin API",
        "operationId": "POSTAddAdminAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTAddAdminAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/update-admin/{id}": {
      "put": {
        "tags": ["Admin Accounts Management By Admin"],
        "summary": "POST Update Admin API",
        "operationId": "POSTAdminUpdateAdminAPI",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type of User Id (e.g., 4, 5, 6, 7)"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTAdminUpdateAdminAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/delete-admin/{id}": {
      "delete": {
        "tags": ["Admin Accounts Management By Admin"],
        "summary": "POST Delete Admin API",
        "operationId": "POSTAdminDeleteAdminAPI",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type of User Id (e.g., 4, 5, 6, 7)"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/reset-password-admin": {
      "put": {
        "tags": ["Admin Accounts Management By Admin"],
        "summary": "POST Admin Password Update API",
        "operationId": "POSTAdminPasswordUpdateAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTUserPasswordUpdateAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/client/get-dashboard-data": {
      "post": {
        "tags": ["Client Dashboard"],
        "summary": "POST Get Client Dashboard Data API",
        "operationId": "POSTGetClientDashboardDataAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTGetClientDashboardChartDataAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/client/get-transactions-for-dashboard": {
      "post": {
        "tags": ["Client Dashboard"],
        "summary": "POST Get Transactions For Dashboard API",
        "operationId": "POSTGetTransactionsForDashboardAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTGetClientDashboardDataAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/admin/get-default-commissions": {
      "get": {
        "tags": ["Commission Management By Admin"],
        "summary": "GET Get Default Commissions API",
        "operationId": "GETGetDefaultCommissionsAPI",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/admin/update-default-commissions": {
      "put": {
        "tags": ["Commission Management By Admin"],
        "summary": "PUT Update Default Commissions API",
        "operationId": "PUTUpdateDefaultCommissionsAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PUTUpdateDefaultCommissionsAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/get-commissions-of-agencies": {
      "get": {
        "tags": ["Commission Management By Admin"],
        "summary": "GET Get Commissions Of Agencies API",
        "operationId": "GETGetCommissionsOfAgenciesAPI",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/admin/update-agency-commissions": {
      "put": {
        "tags": ["Commission Management By Admin"],
        "summary": "PUT Update Commissions Of Agencies API",
        "operationId": "PUTUpdateAgencyCommissionsAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PUTUpdateAgencyCommissionsAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/change-to-default-agency": {
      "put": {
        "tags": ["Commission Management By Admin"],
        "summary": "PUT Change To Default Agency API",
        "operationId": "PUTChangeToDefaultAgencyAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PUTChangeToDefaultAgencyAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/get-currency-exchange": {
      "get": {
        "tags": ["Currency Exchange Management By Admin"],
        "summary": "GET Get Currency Exchange API",
        "operationId": "GETGetCurrencyExchangeAPI",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/admin/add-new-currency-exchange": {
      "post": {
        "tags": ["Currency Exchange Management By Admin"],
        "summary": "POST Add New Currency Exchange API",
        "operationId": "POSTAddNewCurrencyExchangeAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTAddNewCurrencyExchangeAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/admin/update-currency-exchange": {
      "put": {
        "tags": ["Currency Exchange Management By Admin"],
        "summary": "PUT Update Currency Exchange API",
        "operationId": "PUTUpdateCurrencyExchangeAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTUpdateCurrencyExchangeAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/delete-currency-exchange": {
      "delete": {
        "tags": ["Currency Exchange Management By Admin"],
        "summary": "DELETE Delete Currency Exchange API",
        "operationId": "DELETEDeleteCurrencyExchangeAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTDeleteCurrencyExchangeAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/get-associate-locations": {
      "get": {
        "tags": ["Geo Location Management By Admin"],
        "summary": "GET Get Associate Locations API",
        "operationId": "GETGetAssociateLocationsAPI",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/admin/update-associate-location/{id}": {
      "put": {
        "tags": ["Geo Location Management By Admin"],
        "summary": "PUT Update Associate Location API",
        "operationId": "PUTUpdateAssociateLocationAPI",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type of User Id (e.g., 4, 5, 6, 7)"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PUTUpdateLocationAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/admin/get-agency-locations": {
      "get": {
        "tags": ["Geo Location Management By Admin"],
        "summary": "GET Get Agency Locations API",
        "operationId": "GETGetAgencyLocationsAPI",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/admin/update-agency-location/{id}": {
      "put": {
        "tags": ["Geo Location Management By Admin"],
        "summary": "PUT Update Agency Location API",
        "operationId": "PUTUpdateAgencyLocationAPI",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type of User Id (e.g., 4, 5, 6, 7)"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PUTUpdateLocationAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/agency/registerUser": {
      "post": {
        "tags": ["Agency and Teller Auth"],
        "summary": "POST Register User API",
        "operationId": "POSTRegisterUserAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTAgencyRegisterAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/agency/loginUser": {
      "post": {
        "tags": ["Agency and Teller Auth"],
        "summary": "POST Login API",
        "operationId": "POSTLoginAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTLoginAPIRequest"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/agency/verify-user-account": {
      "post": {
        "tags": ["Agency and Teller Auth"],
        "summary": "POST Verify Account API",
        "operationId": "POSTVerifyAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTVerifyAccountAPIRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/agency/forgetPassword": {
      "post": {
        "tags": ["Agency and Teller Auth"],
        "summary": "POST Forget Password API",
        "operationId": "POSTForgetPasswordAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTForgetPasswordSendMailAPI"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/agency/resetPassword": {
      "post": {
        "tags": ["Agency and Teller Auth"],
        "summary": "POST Reset Password API",
        "operationId": "POSTResetPasswordAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTForgetPasswordResetAPI"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/agency/update-profile": {
      "put": {
        "tags": ["Agency and Teller Auth"],
        "summary": "PUT Update Profile API",
        "operationId": "PUTUpdateProfileAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTAgencyUpdateAPI"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/agency/get-profile": {
      "get": {
        "tags": ["Agency and Teller Auth"],
        "summary": "GET Get Profile API",
        "operationId": "GETGetProfileAPI",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/agency/change-password": {
      "post": {
        "tags": ["Agency and Teller Auth"],
        "summary": "POST Change Password API",
        "operationId": "POSTChangePasswordAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTUpdatePasswordAPI"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/agency/create-teller-account": {
      "post": {
        "tags": ["Agency Teller Account"],
        "summary": "POST Create Teller Account API",
        "operationId": "POSTCreateTellerAccountAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTAgencyTellerAccountAPI"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/agency/update-teller-accounts/{id}": {
      "put": {
        "tags": ["Agency Teller Account"],
        "summary": "POST Update Teller API",
        "operationId": "PUTAgencyTellerAccountAPI",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Type of User Id (e.g., 4, 5, 6, 7)"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PUTAgencyTellerAccountAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/agency/list-teller-accounts": {
      "get": {
        "tags": ["Agency Teller Account"],
        "summary": "GET List Teller Accounts API",
        "operationId": "GETListTellerAccountsAPI",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "status(blocked/unblocked) query"
          },
          {
            "name": "order",
            "in": "query",
            "enum": ["ASC", "DESC"],
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Order direction"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/agency/view-teller-account/:id": {
      "get": {
        "tags": ["Agency Teller Account"],
        "summary": "GET View Teller Account API",
        "operationId": "GETViewTellerAccountAPI",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Teller account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/agency/my-wallet": {
      "get": {
        "tags": ["Transactions"],
        "summary": "GET My Wallet API",
        "operationId": "GETMyWalletAPI",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/agency/add-money-from-bank": {
      "post": {
        "tags": ["Transactions"],
        "summary": "POST Add Money From Bank API",
        "operationId": "POSTAddMoneyFromBankAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTAddToWalletAPI"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/agency/recharge-client-wallet": {
      "post": {
        "tags": ["Transactions"],
        "summary": "POST Recharge Client Wallet API",
        "operationId": "POSTRechargeClientWalletAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTRechargeClientWalletAPI"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/agency/recharge-transactions-clients": {
      "get": {
        "tags": ["Transactions"],
        "summary": "GET Recharge Transactions Clients API",
        "operationId": "GETRechargeTransactionsClientsAPI",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "order",
            "in": "query",
            "enum": ["ASC", "DESC"],
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Order direction"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/agency/validate-cash-transaction": {
      "post": {
        "tags": ["Transactions"],
        "summary": "POST Validate Cash Transaction API",
        "operationId": "POSTValidateCashTransactionAPI",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTValidateCashTransactionAPI"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/agency/transaction": {
      "post": {
        "tags": ["Transactions"],
        "summary": "POST Transactions Agency Wallet to wallet API",
        "operationId": "POSTTransactionAgencyWalletToWalletAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTTransactionAgencyWalletToWalletAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/agency/withdraw": {
      "post": {
        "tags": ["Transactions"],
        "summary": "POST Transactions withdraw Pending Transaction to wallet API",
        "operationId": "POSTTransactionWithdrawPendingTransactionToWalletAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTTransactionWithdrawPendingTransactionToWalletAPI"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/api/agency/get-search-client-accounts": {
      "get": {
        "tags": ["Account Search Of Clients (Agency)"],
        "summary": "GET Search Client Accounts API",
        "operationId": "GETSearchClientAccountsAPI",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/agency/update-profile-image": {
      "post": {
        "tags": ["Agency and Teller Auth"],
        "summary": "POST Update Profile Image API",
        "operationId": "POSTUpdateProfileImageAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PUTUpdateProfileImageAPI"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/agency/get-dashboard-data": {
      "post": {
        "tags": ["Agency Dashboard"],
        "summary": "POST Get Dashboard Data API",
        "operationId": "POSTGetDashboardDataAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTGetClientDashboardChartDataAPI"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/agency/get-transactions-for-dashboard": {
      "post": {
        "tags": ["Agency Dashboard"],
        "summary": "POST Get Transactions For Dashboard API",
        "operationId": "POSTGetTransactionsForDashboardAPI",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
[...]
